node_modules
dist
.turbo
coverage
**/*.test.ts
**/*.test.tsx
**/__tests__/**
docs
.vscode
.idea
.git
.github
.gitignore
.gitattributes
.prettierrc*
.eslintrc*
.eslintignore
**/src-tauri/target
.claude
.codex
